
body{
    height: 100%;
    background: rgb(204,0,0);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNjYzAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmYwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, ellipse cover, rgba(204,0,0,1) 0%, rgba(255,0,0,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(204,0,0,1)), color-stop(100%,rgba(255,0,0,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(204,0,0,1) 0%,rgba(255,0,0,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(204,0,0,1) 0%,rgba(255,0,0,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(204,0,0,1) 0%,rgba(255,0,0,1) 100%);
    background: radial-gradient(ellipse at center, rgba(204,0,0,1) 0%,rgba(255,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#ff0000',GradientType=1 );
    color: #F6F6F6;
}
section{
    position: relative;
    
}
.aboutme h1{
  font-family: 'Flamenco', cursive;
  font-size: 3em;
  -webkit-font-smoothing: antialiased;

}
.aboutme .profilePic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 6px solid #990100;
    box-shadow: 1px 2px 10px #000;
    background: url(http://www.gravatar.com/avatar/a6433205a3eb9f458dcbd27d3ac2fa83?s=300) no-repeat center;
}
.aboutme .desc{
    padding-top: 30px;
}
.followMe{
    margin-top: 50px;
    position:relative;
    bottom: 10px;
    left: 0;
}
.followMe .icon{
    font-size: 24px;
    text-decoration: none;
    color:#990100;
    text-shadow:1px 0 1px black;
    margin-left: 20px;
    -webkit-transition: 0.5s color;
    -moz-transition: 0.5s color;
    -ms-transition: 0.5s color;
    -o-transition: 0.5s color;
    transition: 0.5s color;
}
.followMe .icon:hover,.followMe .icon:focus,.followMe .icon:active{
    color:#E8E8E8;
}

@media (max-width: 760px) {
    .aboutme .profilePic{
        margin:30px auto 0 auto;
        width: 100px;
        height: 100px;
        border: 3px solid #990100;
        box-shadow: 1px 2px 5px #000;
        background: url(http://www.gravatar.com/avatar/a6433205a3eb9f458dcbd27d3ac2fa83?s=100) no-repeat center;
    }
    .aboutme h1{
        font-size: 2em;
        text-align: center;
    }
}