<footer class="post-footer">
    <div class="share-page">
        <span class="share-page__title">Share this post:</span>
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.footer-links.twitter }}" rel="nofollow noopener" target="_blank" title="Share on Twitter">Twitter</a>
        &middot;
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}" rel="nofollow noopener" target="_blank" title="Share on LinkedIn">LinkedIn</a>
    </div>
</footer>
