html {
  font-size: 100%;
}

body {
  background: $white;
  color: $darkGray;

  @include dark-mode {
    background: #0f172a;
    color: #e2e8f0;
  }
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 20px;
  width: 100%;
}

img {
  max-width: 100%;
  border-radius: 8px;
}

// Specify the color of the selection
::-moz-selection {
  color: $white;
  background: $accent;
}
::selection {
  color: $white;
  background: $accent;
}
