.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.post-footer {
  margin-top: $spacing-unit*2;
  padding: $spacing-unit*4 0 $spacing-unit*6;
  border-top: 1px solid $lightGray;
}
