.share-page {
  text-align: right;
  color: $gray;

  &__title {
    color: $gray;
    font-weight: 400;
    margin: 0;
    margin-left: 5px;
  }

  .icon {
    fill: $gray;
  }

  a {
    font-weight: 700;
    color: $gray;

    &:hover {
      border-bottom: 1px dashed #fff;
    }
  }
}
