
<section id="aboutme" class="aboutme">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 height-top hidden-xs"></div>
			<div class="col-lg-3 col-lg-offset-2">
				<div class="profilePic"></div>
			</div>
			<div class="col-lg-6 col-lg-offset-1 desc">
				<h1>Hey , I'm Anenth Vishnu</h1>
				<h1>Front End Web Developer</h1>
				<h1>I love to make things on www </h1>
			</div>

		</div>
		<div class="row">
			<div class="col-lg-12 text-center followMe">
				<a href="https://github.com/Anenth" class="icon-github icon"></a>
				<a href="https://twitter.com/anenthvishnu" class="icon-twitter icon"></a>
				<a href="http://www.linkedin.com/in/anenthvishnu" class="icon-linkedin icon"></a>
				<a href="https://plus.google.com/112043202059833094376" class="icon-google-plus icon"></a>
				<a href="https://www.facebook.com/Anenth" class="icon-facebook icon"></a>
			</div>
		</div>
	</div>
</section>
